body{
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
}
main{
    width: 50%;
    background-color: palegoldenrod;
    padding: 15px;
}
.intro > img{
    height: 20rem;
    width: 100%;
}
.input_field{
    display: flex;
    flex-direction: column;
}
.input_field > input{
    height: 2rem;
    color: red;
    border-radius: 5px;
    background-color: rgb(43, 226, 156);
}
button{ 
    border: none;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
}


